*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cambria;
}
body{
    position: relative;
    width: 100%;
    height: 100vh;
}
#container{
    position: fixed;
    z-index: -1;
    height: 100vh;
}

.content{
    padding-left: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}
.wrapper{
    height: 100vh;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-top: 5%;
    letter-spacing: 1.5px;
}
.part-1{
    position: relative;
    height: 60%;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h3{
    font-size: 60px;
    text-transform: capitalize;
    color: rgb(250, 154, 64);
    margin-bottom: 4%;
    opacity: 0;
}
.black{
    color:black;
}
span{
    font-size: 15px;
    color: rgb(252, 222, 184);
    opacity: 0;
}
.clickme{
    position: fixed;
    pointer-events: all;
    bottom: 50px;
    right: 8%;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.spinning{
    height: 100px;
    width: 100px;
    position: absolute;
    background-color:transparent;
    border: 2px solid white;
    border-radius: 50%;
    animation: shujaa 2.5s infinite;
}
.spinning:hover{
    background: rgba(248, 248, 248, 0.014);
}

@keyframes shujaa{
    0%{
        border-bottom: transparent;
        border-left: 2px solid rgba(255, 255, 255, 0.541);
    }
    20%{
        border-left: transparent;
        border-top: 2px solid rgba(255, 255, 255, 0.568);
    }
    40%{
        border-top: transparent;
        border-right: 2px solid rgba(255, 255, 255, 0.507);
    }
    60%{
        border-right: transparent;
        border-bottom: 2px solid rgba(255, 255, 255, 0.637);
    }
    80%{
        border-bottom: transparent;
        border-left: 2px solid rgba(255, 255, 255, 0.541);
    }
    100%{
        border-left: transparent;
        border-top: 2px solid rgba(255, 255, 255, 0.527);
    }
}

.scrollbar{
    position: fixed;
    right: 12%;
    bottom: 40%;
    height: 300px;
    width: 6px;
    background-color: rgba(59, 59, 59, 0.158);
    border-radius: 10px;
    border: 0.1px solid rgba(255, 255, 255, 0.39);
}
.bar{
    height: 50%;
    width: 100%;
    top: 0;
    border-radius: 10px;
    background-color: #fff;
}


@media (max-width: 600px) {
    .part-1{
        width: 80%;
    }
    h3{
        font-size: 40px;
    }
}